// ---
// typography

%copy {
  color: var(--color-copy);
  font-family: $font-family-base;
  font-weight: 400;
  font-size: fluid(rem(16px), rem(20px));
  //line-height: fluid(rem(26px), rem(28px));
  //letter-spacing: fluid(0px, -.2px);
}

// ---
// headings
// !!! Keep in sync with font sizes in `ROOT/theme.json` !!!

%h1-font-size { font-size: fluid(rem(32px), rem(32px)); }
%h2-font-size { font-size: fluid(rem(24px), rem(24px)); }
%h3-font-size { font-size: fluid(rem(18.72px), rem(18.72px)); }
%h4-font-size { font-size: fluid(rem(16px), rem(16px)); }
%h5-font-size { font-size: fluid(rem(13.28px), rem(13.28px)); }
%h6-font-size { font-size: fluid(rem(10.72px), rem(10.72px)); }

%heading {
  font-family: $font-family-heading;
  font-weight: 700;
  color: var(--color-heading, var(--color-copy));
}

%h1 {
  @extend %heading;
  @extend %h1-font-size !optional;
}

%h2 {
  @extend %heading;
  @extend %h2-font-size !optional;
}

%h3 {
  @extend %heading;
  @extend %h3-font-size !optional;
}

%h4 {
  @extend %heading;
  @extend %h4-font-size !optional;
}

%h5 {
  @extend %heading;
  @extend %h5-font-size !optional;
}

%h6 {
  @extend %heading;
  @extend %h6-font-size !optional;
}

// ---
// links

%text-decoration-animation-x {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -.28em;
    transition: .2s ease-in-out;
    transition-property: width, color;
    background-color: currentColor;
  }

  &:hover:before {
    width: 100%;
  }
}

%link {
  color: var(--color-hyperlink, var(--color-copy));
  text-decoration: none;
  text-underline-offset: .14em;
  transition: all .2s ease-in-out;
  transition-property: color, text-underline-offset, text-decoration;

  word-wrap: break-word; // breaks words wherever it is without a hyphen

  &:hover {
    color: var(--color-hyperlink, var(--color-copy));
    text-decoration-color: currentColor;
  }

  &:active, &.active {
    color: var(--color-hyperlink, var(--color-copy));
  }

  &[href=""] {
    pointer-events: none;
  }

  &[href^="#"],
  &[href^="tel:"] {
    text-decoration: none !important;
  }

  &[href*=".pdf"],
  .download a {
    @include icon-after("\f316", dashicons) {
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .site &,
  .is-root-container & {
    @if $link-text-decoration-animation == native {
      text-decoration-line: underline;
    }
    @else if $link-text-decoration-animation == y {
      text-decoration-line: underline;
      text-decoration-color: transparent;

      &:hover {
        text-underline-offset: .4em;
        text-decoration-color: currentColor;
      }
    }
    @else if $link-text-decoration-animation == x {
      @extend %text-decoration-animation-x;
    }
  }

  p & {
    overflow-wrap: break-word
  }
}

// ---
// Button.

%button {
  display: inline-block;
  border-radius: 5px;
  padding: .8rem 6.6rem;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  &, a { text-decoration: none !important; }
  white-space: nowrap;

  transition: all .3s ease-out;
  transition-property: color, background-color, opacity, border-color;

  border: 1px solid;

  color: inherit;
  --color-link: inherit;

  @if $link-text-decoration-animation == x {
    &:before { content: none; }
  }

  &, // default state
  .is-style-fill & {
    @extend %bgcolor-black;
    border-color: transparent;

    &:hover, &.active {
      color: $black;
      background-color: transparent;
      border-color: currentColor;
    }

    @each $name, $color in $colors {
      &.has-#{$name}-background-color {
        @extend %bgcolor-#{$name};

        &:hover, &.active {
          @extend %color-#{$name};
          background-color: transparent;
          border-color: currentColor;
        }
      }
    }
  }

  .is-style-outline & {
    background-color: transparent;
    border-color: currentColor;
    @extend %color-black;

    &:hover, &.active {
      @extend %bgcolor-black;
      border-color: transparent;
    }

    @each $name, $color in $colors {
      &.has-#{$name}-color {
        @extend %color-#{$name};
        &:hover, &.active {
          @extend %bgcolor-#{$name};
        }
      }
    }
  }
}

%caption {
  @extend %copy;
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important;
  padding: 1em 0 0;
  text-align: left;
}
