.screen-reader-text,
.sr-only {
  @include sr-only;
}

.sr-only-focusable {
  @include sr-only(true);
}

%list-unstyled {
  list-style: none;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.list-unstyled {
  @extend %list-unstyled;
}

@each $name, $color in $colors {
  %color-#{$name} {
    color: var(--color-#{$name});

    svg {
      fill: currentColor;
    }

    @at-root svg#{&} {
      fill: currentColor;
    }
  }

  .has-#{name}-color,
  .color-#{$name} {
    @extend %color-#{$name};
  }

  %bgcolor-#{$name} {
    background-color: var(--color-#{unquote($name)});

    @if lightness($color) < 60 {
      color: #fff;
    }
  }

  .has-#{$name}-background-color,
  .bgcolor-#{$name} {
    @extend %bgcolor-#{$name};
  }

  svg.has-#{$name}-color {
    fill: var(--color-#{$name})
  }
}

%container {
  box-sizing: content-box;
  padding-right: fluid($spacing-min, $spacing-max);
  padding-left: fluid($spacing-min, $spacing-max);
  width: 100%;
  max-width: calc(100% - #{fluid($spacing-min * 2, $spacing-max * 2)});
  margin-right: auto;
  margin-left: auto;
}

.container {
  @extend %container;
}

@each $name, $breakpoint in $breakpoints {
  %container-#{$name} {
    @extend %container;
    width: var(--width-#{$name});
  }

  .container-#{$name} {
    @extend %container-#{$name};
  }

  %width-#{$name} {
    max-width: 100%;
    width: var(--width-#{$name});
  }

  .width-#{$name} {
    @extend %width-#{$name};
  }
}

%alignwide {
  @extend %width-wide;
}

.alignwide {
  @extend %alignwide;
}

.align {
  &-right,
  &right {
    margin-right: initial;
    margin-left: auto !important;

    @at-root svg#{&} {
      display: block;
    }
  }

  &-center,
  &center {
    clear: inherit;
    margin-right: auto;
    margin-left: auto;

    @at-root svg#{&} {
      display: block;
    }
  }

  &-left,
  &left {
    margin-right: auto;
    margin-left: initial;

    @at-root svg#{&} {
      display: block;
    }
  }
}

// ---

.hide-mobile {
  @include mobile {
    display: none !important;
  }
}

.hide-tablet {
  @include tablet {
    display: none !important;
  }
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}
