// ---
// Colors.
// !!! Keep this colors in sync with the color palette in `theme.json` !!!

$black: #000000;
$white: #FFFFFF;

$success: #61c653;
$error: #ec695e;

// !!! Do not use 'accent', 'value', 'text', 'border', 'link', 'icon' or 'inline' as names !!!
// Could possible interfere with WordPress' CSS :/
$colors: (
    'black': $black,
    'white': $white,

    'copy': $black, // default text color
    'heading': var(--color-copy),
    'link': var(--color-copy),

    'success': $success,
    'error': $error,
);

// from this value (0-100) onwards, colours are considered as _light_
$lightness-threshold: 60;

// ---
// Typography.

$rpx: 10px; // rem

$font-family-base: sans-serif;
$font-family-heading: serif;

// ---
// Spacing

$breakpoints: (
    xs: 664px,
    sm: 782px,
    md: 1030px,
    lg: 1100px,
    xl: 1660px,
    xxl: 1920px
);

$breakpoints: map-merge($breakpoints, (
    mobile: map-get($breakpoints, sm),
    desktop: map-get($breakpoints, xl),

    // make same setting in `theme.json`
    content: map-get($breakpoints, lg), // default
    wide: map-get($breakpoints, xl)
));

$spacing-min: 36px;
$spacing-max: 130px;
$spacings: ();

// ---
// Create icons map.
// Do order icons by name (asc) to be in sync with icon font.
// Get content via `map-get($Icont, ICON);`

@import "../utilities/css/functions/dec2hex";

$Icont: ();
@each $icon in () {
  $Icont: map-merge($Icont, ($icon: unquote("\"#{\f1+dec2hex(length($Icont) + 1)}\"")));
}

// ---
// Theme supports

// native = static underline
// x = left to right
// y = up and down
$link-text-decoration-animation: y;
