$rpx: 10px; // = 1rem

// ---
// Colors.
// !!! Keep this colors in sync with the color palette in `theme.json` !!!

$black: #000000;
$white: #FFFFFF;

$success: #61c653;
$error: #ec695e;

// !!! Do not use 'accent', 'value', 'text', 'border', 'link', 'icon' or 'inline' as names !!!
// Could possible interfere with WordPress' CSS :/
$colors: (
    'black': $black,
    'white': $white,

    'copy': $black, // default text color
    'heading': var(--color-copy),
    'hyperlink': var(--color-copy),

    'success': $success,
    'error': $error,
);

// from this value (0-100) onwards, colours are considered as _light_
$lightness-threshold: 60;

// ---
// Spacing

$breakpoints: (
    xxs: 480px,
    xs: 664px,
    sm: 782px, // WP uses this as mobile breakpoint
    md: 1030px,
    lg: 1100px,
    xl: 1660px,
    xxl: 1920px
);

$breakpoints: map-merge($breakpoints, (
    mobile: map-get($breakpoints, sm),
    desktop: map-get($breakpoints, xl),

    // make same setting in `theme.json`
    content: map-get($breakpoints, lg), // default
    wide: map-get($breakpoints, xl)
));

$spacing-min: 36px;
$spacing-max: 130px;

@import "../utilities/css/mixins/px2rem";
@import "../utilities/css/functions/fluid";
$spacings: ();

// ---
// Typography.

$font-family-base: sans-serif;
$font-family-heading: serif;

$fontSizes: ( // @since 1.20.5
    //"small": fluid(rem(12px), rem(13px)),
    //"medium": fluid(rem(20px), rem(20px)),
    //"large": fluid(rem(36px), rem(36px)),
    //"x-large": fluid(rem(42px), rem(42px)),
    "normal": fluid(rem(16px), rem(16px)),
    "huge": fluid(rem(42px), rem(42px)),
    "h-1": fluid(rem(32px), rem(32px)),
    "h-2": fluid(rem(24px), rem(24px)),
    "h-3": fluid(rem(18.72px), rem(18.72px)),
    "h-4": fluid(rem(16px), rem(16px)),
    "h-5": fluid(rem(13.28px), rem(13.28px)),
    "h-6": fluid(rem(10.72px), rem(10.72px))
);

// ---
// Create icons map.
// Do order icons by name (asc) to be in sync with icon font.
// Get content via `map-get($Icont, ICON);`

@import "../utilities/css/functions/dec2hex";

$Icont: ();
@each $icon in () {
  $Icont: map-merge($Icont, ($icon: unquote("\"#{\f1+dec2hex(length($Icont) + 1)}\"")));
}

// ---
// Theme supports

// native = static underline
// x = left to right
// y = up and down
$link-text-decoration-animation: y;
