@mixin alignfull {
    padding-right: 0 !important;
    padding-left: 0 !important;

    display: block;
    max-width: calc(100vw - var(--scrollbar-width)) !important;
    width: calc(100vw - var(--scrollbar-width)) !important;
    margin-right: calc(50% - 50vw + var(--scrollbar-width) / 2) !important;
    margin-left: calc(50% - 50vw + var(--scrollbar-width) / 2) !important;

    @each $name, $breakpoint in $breakpoints {
        &.width-#{$name} {
            width: MIN(var(--width-#{$name}), 100%) !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }
}