@mixin alignfull {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: calc(50% - 50vw) !important;
    margin-left: calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw !important;

    @each $name, $breakpoint in $breakpoints {
        &.width-#{$name} {
            width: MIN(var(--width-#{$name}), 100%) !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }
}