.cookie-wall {
  isolation: isolate;
  background-color: #fff;
  border-radius: 1em;
  padding: 2em;
  margin: 2em;
  box-sizing: border-box;
  max-width: 664px;
  justify-self: center;

  > :first-child, .textwidget > :first-child { margin-top: 0 !important; }
  .textwidget > :last-child { margin-bottom: 0 !important; }

  .map:has(> &),
  .wp-block-embed__wrapper:has(iframe[data-ccm-src] + &),
  .wp-video:has(iframe[data-ccm-src]):has(&),
  .wp-video:has(div[id$="youtube_iframe"]):has(&) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  // ---
  // Google Maps

  .wp-block-gmap-block:has(&) {
    aspect-ratio: auto !important;
  }

  .map:has(> &) {
    background: url(map-placeholder.webp) no-repeat scroll center center transparent;

  }

  // ---
  // Embed wrapper.

  @at-root {
    .wp-video:has(iframe[data-ccm-src]):has(&),
    .wp-video:has(div[id$="youtube_iframe"]):has(&) {
      .wp-video-shortcode { visibility: hidden;}
    }

    .wp-block-embed__wrapper:has(iframe[data-ccm-src] + &),
    .wp-video:has(iframe[data-ccm-src]):has(&),
    .wp-video:has(div[id$="youtube_iframe"]):has(&) {
      background-color: #eee;

      &:before, > * {
        grid-column: 1;
        grid-row: 1;
      }
    }

    .wp-block-embed__wrapper:has(iframe[data-ccm-src] + &) {
      iframe { display: none; }
    }

    .wp-block-embed__wrapper:not(:has(iframe[data-ccm-src])) &,
    .wp-video:not(:has(iframe[data-ccm-src])) + &,
    .wp-video:not(:has(iframe[data-ccm-src])) &,
    .wp-video:has(#{&}) + & {
      display: none;
    }

    .wp-video:has(div[id$="youtube_iframe"]) & {
      display: block;
    }
  }
}
