.video-html {
  background: none no-repeat scroll center center transparent;
  background-size: cover;
  cursor: pointer;
  color: transparent;

  position: absolute;
  inset: 0;

  &:before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    background-repeat: no-repeat;
    background-position: 0 -39px;
    border-radius: 50%;
  }

  &:hover:before {
    background-position: -80px -39px;
  }
}