.hide {
  &-mobile {
    @include mobile {
      display: none !important;
    }
  }

  &-tablet {
    @include tablet {
      display: none !important;
    }
  }

  &-desktop {
    @include desktop {
      display: none !important;
    }
  }
}

.mobile-only {
  @include tablet { display: none !important; }
  @include desktop { display: none !important; }
}

.tablet-only {
  @include mobile { display: none !important; }
  @include desktop { display: none !important; }
}

.desktop-only {
  @include mobile { display: none !important; }
  @include tablet { display: none !important; }
}