// ---
// Functions.

@import "functions/currentColor-opacity";
@import "functions/fluid";
@import "functions/hexAlpha";

// ---
// Mixins.

@import "mixins/alignfull";
@import "mixins/breakpoints";
@import "mixins/dir";
@import "mixins/focus";
@import "mixins/loader";
@import "mixins/pseudons";
@import "mixins/px2rem";
@import "mixins/scrollwithoutbar";
@import "mixins/sr-only";
@import "mixins/touch-device";
@import "mixins/vars";

// ---
// Placeholders.

%width {
  box-sizing: border-box;
  max-width: MIN(100%, var(--width-max, 100%));
}

%container {
  box-sizing: border-box;
  max-width: MIN(calc(100% - #{fluid($spacing-min * 2, $spacing-max * 2)}), var(--width-max, 100%));
  margin-right: auto;
  margin-left: auto;
}

@each $name, $breakpoint in $breakpoints {
  %width-#{$name} {
    --width-max: var(--width-#{$name});
    @extend %width;
  }

  %container-#{$name} {
    --width-max: var(--width-#{$name});
    @extend %container;
  }
}

@mixin bgcolor($name) {
  $name: quote($name);
  $color: map-get($colors, $name);

  background-color: var(--color-#{unquote($name)});

  svg {
    fill: currentColor;
  }

  // auto light color on dark backgrounds
  @if type-of($color) == color {
    @if lightness($color) < $lightness-threshold {
      --color-copy: var(--color-light, #fff);
      --color-heading: var(--color-light, #fff);
      --color-hyperlink: var(--color-light, #fff);
      color: var(--color-light, #fff);
    }
    @else {
      --color-copy: #{map-get($colors, copy)};
      --color-heading: #{map-get($colors, copy)};
      --color-hyperlink: #{map-get($colors, copy)};
      color: #{map-get($colors, copy)};
    }
  }
}

@each $name, $color in $colors {
  %color-#{$name} {
    @if $name != copy { --color-copy: var(--color-#{$name}); }
    @if $name != heading { --color-heading: var(--color-#{$name}); }
    @if $name != hyperlink { --color-hyperlink: var(--color-#{$name}); }
    color: var(--color-#{$name});

    svg {
      fill: currentColor;
    }

    @at-root svg#{&} {
      fill: currentColor;
    }
  }

  %bgcolor-#{$name} {
    @include bgcolor($name);
  }
}

%list-unstyled {
  list-style: none;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}