.site {
  &-main {
    min-height: calc(100svh - var(--masthead-height) - var(--colophon-height));
  }
}

// ---
// Container and widths.

.container {
  @extend %container;
}

@each $name, $breakpoint in $breakpoints {
  .container-#{$name} {
    @extend %container-#{$name};
  }

  .width-#{$name} {
    @extend %width-#{$name};
  }
}

.pin-spacer {
  max-width: none !important;
}

// ---
// Block layout

.entry-header,
.entry-content > *,
.alignfull > * {
  @extend %container-content;
}

.alignfull {
  &,
  > .swiper-wrapper,
  .wp-block-cover__background,
  .wp-block-cover__image-background {
    max-width: none;
  }

  > .wp-block-cover__inner-container {
    --width-max: 100%;
  }
}

.entry-content,
.alignfull {
  > * {
    &.alignwide {
      @extend %container-wide;
    }

    @each $name, $breakpoint in $breakpoints {
      &.width-#{$name},
      &.container-#{$name} {
        @extend %container-#{$name};
      }
    }
  }
}

// no max width in post's teaser view
.teaser-view {
  .entry-header,
  .entry-content > *,
  .alignfull > * {
    max-width: none;
  }
}

// ---
// Gallery.

.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;

  &-item {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  // loops to enumerate the classes for gallery columns
  @for $i from 2 through 9 {
    &-columns-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  &-caption {
    display: block;
  }
}

// ---
// Grid.

%posts-grid {
  display: grid;
  gap: var(--gap, 1em);

  @for $i from 2 through 9 {
    &[data-grid="#{$i}"] {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }

  @include mobile {
    &[data-grid] { grid-template-columns: 1fr; }
  }
}

[data-type="posts-list/block"],
.wp-block-group.is-layout-grid {
  @extend %posts-grid;
}

[data-type="posts-list/block"] > div,
.wp-block-posts-list-block {
  > .wp-element-button {
    grid-column: 1/-1;
    margin-right: auto;
    margin-left: auto;
  }

  [data-result-cnt],
  > .no-entries-message {
    grid-column: 1/-1;
  }
}

// not quite sure why content is wrapped in an extra `div`
// ... but here we are
[data-type="posts-list/block"] > div {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--gap, 1em);
  pointer-events: none;

  > .wp-element-button {
    grid-column: 1/-1;
  }
}

// ---
// Buttons.

.wp-block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

button, .wp-block-button__link, .wp-element-button, [type="submit"] {
  cursor: pointer;
}

// ---
// Colors.

@each $name, $color in $colors {
  .has-#{$name}-color,
  .color-#{$name} {
    @extend %color-#{$name};
  }

  .has-#{$name}-background-color,
  .bgcolor-#{$name} {
    @extend %bgcolor-#{$name};
  }

  svg.has-#{$name}-color {
    fill: var(--color-#{$name})
  }
}

// ---
// Make sure logo link wraps around logo image.

.custom-logo-link {
  display: block;
  line-height: 0;

  // by default we hide `.site-title` and `.site-description`
  ~ .site-title,
  ~ .site-description {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@import "../inc/gutenberg/inc/hide/css/style";

// ---
// _No list_ lists.

.list-unstyled {
  @extend %list-unstyled;
}

// ---
// The following are kind of default WP styles.

// do not show the outline on the skip link target
#primary[tabindex="-1"]:focus {
  outline: 0;
}

// hide updated date
.updated:not(.published) {
  display: none;
}

// ---
// Screen reader.

.screen-reader-text,
.sr-only {
  @include sr-only;
}

.sr-only-focusable {
  @include sr-only(true);
}

// ---
// Alignments.

.align {
  &right {
    margin-right: initial;
    margin-left: auto !important;

    @at-root svg#{&} {
      display: block;
    }
  }

  &center {
    clear: inherit;
    margin-right: auto;
    margin-left: auto;

    @at-root svg#{&} {
      display: block;
    }
  }

  &left {
    margin-right: auto;
    margin-left: initial;

    @at-root svg#{&} {
      display: block;
    }
  }
}

%alignwide {
  @extend %width-wide;
}

.alignwide {
  @extend %alignwide;
}

// ---
// Smileys.

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

