@import "../../node_modules/normalize.css/normalize";

// ---
// correct element displays

output {
  display: inline-block;
}

[disabled] {
  pointer-events: none;
}

// Inherit box-sizing to more easily change it's value on a component level.
// @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

*,
*::before,
*::after {
  box-sizing: inherit;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // with this font size definition
  // 1rem is set to 10px
  font-size: $rpx * 100% / 16px;
}

// ---
// copy

address {
  font-style: normal;
}

blockquote {
  margin-right: 0;
  margin-left: 0;

  > :first-child {
    margin-top: 0;

    &:before {
      content: "„";
    }
  }

  > p:last-of-type {
    margin-bottom: 0;

    &:after {
      content: "”";
    }
  }
}

// ---
// lists

ul,
ol {
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0;
}

// ---
// media

embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto; // make sure images are scaled correctly
  max-width: 100%; // adhere to container width
  text-indent: -9999px; // hide alt
  object-fit: cover;
}

figure {
  margin: 0;
  width: auto;

  &.wp-block-figure,
  &.post-thumbnail, &.wp-block-image {
    line-height: 0;
  }
}

%figcaption {
  @extend %copy;
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important;
  padding: 1em 0 0;
  text-align: left;
}

figcaption {
  @extend %figcaption;
}

// ---
// table

table {
  width: 100%;
  border-collapse: collapse;
}
