.wp-block-gmap-block {
  display: grid;

  &:before, .map {
    grid-column: 1;
    grid-row: 1;
  }

  &:before {
    content: "";
    padding-top: calc(100% * var(--ratio, .5625));
  }
}

gmp-advanced-marker {
  svg {
    transition: .3s ease-in-out;
    transform-origin: 50% 100%;
  }

  &:hover {
    z-index: 1;
  }

  :has(> gmp-advanced-marker):has(gmp-advanced-marker:hover) & svg {
    opacity: .35;
    scale: .65;
  }

  :has(> gmp-advanced-marker):has(gmp-advanced-marker:hover) &:hover svg {
    opacity: 1;
    scale: 1.35;
  }
}

// info window
.gm-style-iw {
  padding-right: 48px !important;

  &-chr {
    position: absolute;
    right: 0;
  }
}