// ---
// Gallery.

.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;

  &-item {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  // loops to enumerate the classes for gallery columns
  @for $i from 2 through 9 {
    &-columns-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  &-caption {
    display: block;
  }
}

// ---
// Buttons.

.wp-block-buttons {
  display: flex;
}