// ---
// Block layout

.entry-content {
  > * {
    // all z-index elements only refers to this element
    isolation: isolate;
  }

  > *,
  .alignfull > *,
  .swiper.alignfull > .swiper-wrapper > * {
    @extend %container-content;

    @each $name, $breakpoint in $breakpoints {
      &.width-#{$name} {
        @extend %width-#{$name};
      }

      &.container-#{$name} {
        @extend %container-#{$name};
      }
    }

    &.alignwide {
      @extend %container-wide;
    }
  }

  .swiper.alignfull > .swiper-wrapper {
    padding: 0;
    width: 100%;
    max-width: none;
  }
}