.wp-block-button__link, .wp-element-button, input[type="submit"] {
  .site & {
    @extend %button;
  }
}

.form-item {
  position: relative;
}

label {
  text-align: left;

  .required &:after {
    content: "*";
  }
}

input,
textarea,
select,
.file-drop,
.customSelect .custom-select-opener {
  font-size: rem(16px);
  padding: .71875em;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: .3125em;
  box-sizing: border-box;
  width: 100%;
  display: block;

  &, &::placeholder {
  }

  @at-root input,
  textarea,
  select {
    &:focus-visible {
      --focus-outline-color: transparent;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

textarea {
  resize: vertical;
}

// ---
// CF7

.hidden-fields-container {
  display: none;
}
