%button {
  display: inline-block;
  border-radius: 5px;
  padding: .8rem 6.6rem;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;

  transition: all .3s ease-out;
  transition-property: color, background-color, opacity, border-color;

  color: inherit;
  border: 1px solid currentColor;

  &, // default state
  .is-style-fill & {
    @extend %bgcolor-black;

    &:hover, &.active {
      @extend %color-black;
      background-color: transparent;
      border-color: currentColor;
    }

    @each $name, $color in $colors {
      &.has-#{$name}-background-color {
        @extend %bgcolor-#{$name};

        &:hover, &.active {
          @extend %color-#{$name};
          background-color: transparent;
          border-color: currentColor;
        }
      }
    }
  }

  .is-style-outline & {
    background-color: transparent;
    border-color: currentColor;
    @extend %color-black;

    &:hover, &.active {
      @extend %bgcolor-black;
      border-color: transparent;
    }

    @each $name, $color in $colors {
      &.has-#{$name}-color {
        @extend %color-#{$name};
        &:hover, &.active {
          @extend %bgcolor-#{$name};
        }
      }
    }
  }
}

.wp-block-button__link, .wp-element-button, input[type="submit"] {
  .site & {
    @extend %button;
  }
}

.form-item {
  position: relative;
}

label {
  text-align: left;

  .required &:after {
    content: "*";
  }
}

input,
textarea,
select {
  font-size: rem(16px);
  padding: .71875em;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: .3125em;
  box-sizing: border-box;
  width: 100%;

  &, &::placeholder {
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

textarea {
  resize: vertical;
}
