/**
 * Calculate `clamp()` values to adjust _size_ (limited to `$min`/`$max`) between `$lower` and `$upper` screen widths.
 *
 * !!! Absolute units (px, rem) only !!!
 *
 * ```
 * // use default lower and upper screen widths
 * padding-left: fluid(30px, 60px)
 *
 * // use specific lower and upper screen widths
 * padding-left: fluid(30px, 60px, 300px, 900px)
 * ```
 *
 * `$min` value for `$lower` and narrower screen width.
 * `$max` value for `$upper` and wider screen width.
 * All values in between are _calculated_.
 *
 * @param {numeric} $min
 * @param {numeric} $max
 * @param {numeric} $lower (optional)
 * @param {numeric} $upper (optional)
 */

@import "./strip-unit";

@function fluid ($min, $max, $lower: breakpoint(mobile), $upper: breakpoint(desktop)) {
  @if unit($min) != unit($max) {
    @warn 'Min and max values for fluid function must have the same unit. $max (#{$max}) is used.';
    @return $max;
  }

  @if unit($min) != px and unit($min) != rem {
    @warn 'Unit must be of type px or rem. $max (#{$max}) is used.';
    @return $max;
  }

  $lower: breakpoint($lower);
  $upper: breakpoint($upper);

  @if unit($min) == rem {
    // convert to rem
    $lower: $lower / if(variable_exists( 'rpx' ), $rpx, 16px) * 1rem;
    $upper: $upper / if(variable_exists( 'rpx' ), $rpx, 16px) * 1rem;
  }

  @return clamp(min($min, $max), calc(#{$min} + #{strip-unit($max) - strip-unit($min)} * (100vw - #{$lower}) / #{strip-unit($upper - $lower)}), max($min, $max));
}