@import "../../../css/variables";
@import "../../css/base";

@import "../../../css/typography";
@import "../../../css/components/forms";
@import "../../../utilities/css/misc";
@import "../../../css/components/blocks";
@import "../../../css/components/posts";

body {
  @include vars;
  @extend %copy;
}

button {
  box-sizing: border-box;
}

.hide-desktop,
.hide-tablet,
.hide-mobile {
  display: inherit !important;
  opacity: .35;
  transition: opacity .2s;

  &.is-selected,
  &:has(.is-selected) {
    opacity: 1;
  }
}

.is-root-container,
.edit-post-visual-editor__post-title-wrapper {
  @extend %container;
}

.is-root-container {
  max-width: none;

  &#{&}.block-editor-block-list__layout,
  .alignfull {
    > *:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
      @extend %container-content;

      &.alignwide {
        @extend %container-wide;
      }

      @each $name, $breakpoint in $breakpoints {
        &.width-#{$name},
        &.container-#{$name} {
          @extend %container-#{$name};
        }
      }
    }
  }

  .wp-block-button__link {
    @extend %button;
  }
}
